.git
.gitignore
.vscode
.idea

.dockerignore

**/.gitignore
**/Dockerfile*
**/docker-compose*
**/README.md
**/LICENSE

cicd
dockerfiles
docs

codebase/**/.env
codebase/**/.env.example
codebase/**/coverage
codebase/**/build
