### ======================================================================
### WARNING: THIS IS ONLY EXAMPLE FILE
###     TO LAUNCH THE APPLICATION application.properties SHOULD BE CREATED
### ----------------------------------------------------------------------
### To run application create application.properties file in this folder
### and fill it with properties from this example file according to your
### environment.
### Use this file as a reference.
### Always update this file if some new required property is introduced.
### Comments to properties are welcomed.
### ======================================================================

SECURITY_ENABLED=false
REST_TEMPLATE_SECURITY_ENABLED=false

SECURITY_OVERRIDING_ROLES_ENABLED=true

AD_ROLE_ADMIN=GG-UK-TescoGlobal-PMA-PPE-Admin
AD_ROLE_COLLEAGUE=GG-UK-TescoGlobal-PMA-PPE-Colleague
AD_ROLE_LINE_MANAGER=GG-UK-TescoGlobal-PMA-PPE-LineManager
AD_ROLE_PEOPLE_TEAM=GG-UK-TescoGlobal-PMA-PPE-PeopleTeam
AD_ROLE_TALENT_ADMIN=GG-UK-TescoGlobal-PMA-PPE-TalentAdmin
AD_ROLE_PROCESS_MANAGER=GG-UK-TescoGlobal-PMA-PPE-ProcessManager

FILE_STORAGE_ROOT="$SERVICE_HOME/files"

ONE_LOGIN_BASE_URL=https://loginppe.ourtesco.com
TESCO_API_BASE_URL=https://api-ppe.tesco.com
#TESCO_API_BASE_URL=http://localhost:9080

IDENTITY_CLIENT_ID=00000000-0000-0000-0000-000000000000
IDENTITY_CLIENT_SECRET=00000000-0000-0000-0000-000000000000

PMA_PROJECT_VERSION=0.0.1-SNAPSHOT

#e.g. https://frontend.dev.pma.tescocloud.com/experience/myperformance/api/v1
PMA_API_URL=http://localhost:8083/v1

PMA_DB_URL=jdbc:postgresql://localhost:5432/pma_dev
PMA_DB_SCHEMA=pma
CAMUNDA_DB_SCHEMA=camunda
PMA_DB_USERNAME=luxoft
PMA_DB_PASSWORD=lux04t
